@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-image: url('./images/Scooby\ Doo\ Background.jpg');
  background-size: cover;
}

.title {
  display: flex;
  width: 650px; 
  height: 300px;
  background-image: url('./images/SD\ Title.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  width: 650px; 
  height: 40px;
  color: white;
}
 /* .subtitle {
  text-align: center;
  color: white;
  margin: 0px;
} */

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  width: 650px; 
  margin-bottom: 10px;
}

button {
margin: 5px;
background-color: rgb(230, 230, 109);
color: purple;
margin: 10px;
border-radius: 20%;
border: orange solid 0.5px;
}

.grid {
  display: flex;
  flex-direction: row;
  /* border: 0.5px solid black; */
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  /* border: 1px solid black; */
  font-size: 25px;
}

.scooby {
  background-image: url('./images/Scooby-Doo.png') !important;
  background-size: cover;
}
.shaggy {
  background-image: url('./images/Shaggy.png') !important;
  background-size: cover;
}

.villainsFromLeft {
  background-image: url('./images/VF\ Left.png');
  background-size: cover;
}
.villainsFromRight {
  background-image: url('./images/VF\ Right.png');
  background-size: cover;
}
.mystFromRightFront {
  background-image: url('./images/MMLogo\ Left.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.mystFromRightBack {
  background-image: url('./images/MMLogo\ Right.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.mystFromLeftFront {
  background-image: url('./images/MMFront.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.mystFromLeftBack {
  background-image: url('./images/MMBack.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.leftFlower {
  background-image: url('./images/MM\ Flower.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.safeZone {
  background-color: #ffc04c;
}

